/*
    #E5E5DC
    #EDDDD0
    #6E8783
    #DB504A
    #334259
*/
*{
    margin: 0;
    padding : 0;
    font-family: monospace;
    font-size: 1rem;
}

nav{
    font-size: 2rem;
    padding: 2px;
}

.container{
    width: 100px;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    border: black;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    background-color: #e5e5dc;
}

nav.grid{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    justify-content: space-around;
    text-align: center;
    gap: 5px;
    background-color: #Edddd0;
}

.item{
    font-size: 2rem;
    background-color: coral;
}

