/*
    #E5E5DC
    #EDDDD0
    #6E8783
    #DB504A
    #334259
*/

@import url('https://fonts.googleapis.com/css2?family=Lexend+Mega&display=swap');

*{
    margin: 0;
    padding : 0;
    font-family: 'lexend Mega', sans-serif;
    font-size: 1rem;
}

h1{
    font-size: 3rem;
}

nav{
    grid-row: 1;
    grid-column: 1/3;
    display: flex;
    background-color: #6e8783;
    text-align: center;
    width: 100%;
}

nav a{
    flex: auto;
    justify-content: space-between;
    padding: 4px;
    color: #334259;
    text-align: center;
    background-color: #6e8783;
}

nav a:hover{
    color:#edddd0;
    background-color: #334259;
}

footer{
    grid-row: 3;
    grid-column: 1/3;
    display: flex;
    background-color: #6e8783;
    flex-direction: column;
}

.wrapper{
    display: grid;
    grid-template-columns: auto 5fr;
    grid-auto-rows: auto;
}

.aside{
    background-color: #edddd0;
    grid-column: 1;
    grid-row: 2;
}

.content{
    grid-column: 2;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    background-color: #e5e5dc;
}


#selfie{
    width: 400px;
}

@media screen and (max-width: 600px){
    body{
        background-color: #edddd0;
    }
    p{
        font-size: 2rem;
    }
    h3{
        font-size: 2.5rem;
    }
    h1{
        background-color: #6e8783;
    }
}

@media screen and (min-width: 601px) and (max-width: 1919px){
    body{
        background-color: #6e8783;
    }
    p{
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 1920px){
    body{
        background-color: #e5e5dc;
    }
    p{
        font-size: .5rem;
        color: #334259;
    }
    .content{
        background-color: #edddd0;
    }
}
